<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
name :$name</br>
token :$token</br>
count: $dataCount</br>
#foreach($stu in $data)
    <tr><td>$stu.id</td><td>$stu.name</td><td>$stu.sex</td><td>$stu.date</td>$stu.stu_id<td></td></tr>
#end
</body>
</html>