<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <style>
        #server_info{
            line-height:40px;
            border-top:1px solid #000;
        }
    </style>
</head>
<body>
<h1>404 Not Found</h1>
<p>The page is not found here.Please contact the web administrator.</p>
<p id="server_info"><em>Powered By Miserver 1.0 <span id="date"></span></em></p>

<script>
    window.onload = function(){
        var date = new Date().toString();

        document.getElementById("date").innerHTML = date;
    }
</script>
</body>
</html>